# Primeros pasos

In [2]:
# Importamos las librerías necesarias para el proyecto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine
import pymysql
from scipy.stats import chi2_contingency

In [3]:
# Indicar la ruta del directorio 'lib'
lib_path = os.path.abspath(os.path.join(os.getcwd(), '..', 'lib'))
if lib_path not in sys.path:
    sys.path.append(lib_path)

# Importar todas las funciones 
from functions import *

# Configurar la carga automática de los cambios realizados en funciones
%reload_ext autoreload
%autoreload 2

## Cargar los datos

In [4]:
# Cargamos la base de datos principal
df = pd.read_csv('../data/raw/indicadores_generales_distritos.csv', sep=';', encoding='utf-8-sig')

In [5]:
# Configuramos la visualización del dataframe para mostrar todas las columnas
pd.set_option('display.max_columns', None)
df

,Orden,Periodo panel,ciudad,cod_distrito,distrito,cod_barrio,barrio,año,fecha_indicador,fuente_indicador,categoría_1,categoría_2,indicador_nivel1,indicador_nivel2,indicador_nivel3,unidad_indicador,indicador_completo,valor_indicador
0,1,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Características Generales del Distrito-Barrio,NaN,Superficie,NaN,NaN,Ha,Superficie (Ha.),60.446
1,2,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Características Generales del Distrito-Barrio,NaN,Densidad de población,NaN,NaN,Habitantes/Ha.,Población densidad (hab./Ha.),54
2,3,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Población del distrito,Estructura de población,Número de Habitantes,NaN,NaN,Habitantes,Número Habitantes,3.266.126
3,4,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Población del distrito,Estructura de población,Número de Habitantes,Hombres,NaN,Habitantes,Población Hombres,1.521.178
4,5,2020,Ciudad de Madrid,NaN,NaN,NaN,NaN,2019,01/01/2019,Estadística Ayuntamiento de Madrid,Población del distrito,Estructura de población,Número de Habitantes,Mujeres,NaN,Habitantes,Población Mujeres,1.744.948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69540,69541,2023,Ciudad de Madrid,21.0,Barajas,211.0,Alameda de Osuna,2022,01/01/2022,Estadística Ayuntamiento de Madrid,Vivienda,NaN,Inmuebles,Uso residencial,Superficie media,m2,Superficie media construida (m2) inmuebles de ...,"126,39"
69541,69542,2023,Ciudad de Madrid,21.0,Barajas,212.0,Aeropuerto,2022,01/01/2022,Estadística Ayuntamiento de Madrid,Vivienda,NaN,Inmuebles,Uso residencial,Superficie media,m2,Superficie media construida (m2) inmuebles de ...,"63,81"
69542,69543,2023,Ciudad de Madrid,21.0,Barajas,213.0,Casco Histórico de Barajas,2022,01/01/2022,Estadística Ayuntamiento de Madrid,Vivienda,NaN,Inmuebles,Uso residencial,Superficie media,m2,Superficie media construida (m2) inmuebles de ...,"96,15"
69543,69544,2023,Ciudad de Madrid,21.0,Barajas,214.0,Timón,2022,01/01/2022,Estadística Ayuntamiento de Madrid,Vivienda,NaN,Inmuebles,Uso residencial,Superficie media,m2,Superficie media construida (m2) inmuebles de ...,"128,07"
69544,69545,2023,Ciudad de Madrid,21.0,Barajas,215.0,Corralejos,2022,01/01/2022,Estadística Ayuntamiento de Madrid,Vivienda,NaN,Inmuebles,Uso residencial,Superficie media,m2,Superficie media construida (m2) inmuebles de ...,"152,82"

## Limpieza y revisión de la base de datos principal

### Limpieza de datos

In [6]:
# Chequeamos el tipo de datos de las columnas y los valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69545 entries, 0 to 69544
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Orden               69545 non-null  int64
 1   Periodo panel       69545 non-null  int64
 2   ciudad              69545 non-null  object
 3   cod_distrito        68464 non-null  float64
 4   distrito            68464 non-null  object
 5   cod_barrio          50804 non-null  float64
 6   barrio              50812 non-null  object
 7   año                 69545 non-null  int64
 8   fecha_indicador     69545 non-null  object
 9   fuente_indicador    69545 non-null  object
 10  categoría_1         69545 non-null  object
 11  categoría_2         61903 non-null  object
 12  indicador_nivel1    69545 non-null  object
 13  indicador_nivel2    60506 non-null  object
 14  indicador_nivel3    26899 non-null  object
 15  unidad_indicador    69526 non-null  object
 16  indicador_completo  69545 non-null  object
 17  valor_indicador     69545 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 9.6+ MB

In [7]:
# Comprobamos que no haya duplicados
df.duplicated().sum()

np.int64(0)

In [8]:
df.nunique()

Orden                 69545
Periodo panel             4
ciudad                    1
cod_distrito             21
distrito                 32
cod_barrio              131
barrio                  206
año                      12
fecha_indicador          19
fuente_indicador         14
categoría_1              19
categoría_2              51
indicador_nivel1         44
indicador_nivel2        204
indicador_nivel3         78
unidad_indicador         39
indicador_completo      410
valor_indicador       19492
dtype: int64

In [9]:
# Eliminar espacios al comienzo del nombre de algunos distritos
eliminar_espacios(df, 'distrito')
#Eliminar espacios adicionales de los indicadores
eliminar_espacios(df, 'indicador_completo')

In [10]:
# Adaptamos el formato de puntuación en los valores para una correcta interpretación en la conversión a números
estandarizar_numeros(df, 'valor_indicador')

In [11]:
# Convertir a numérico el valor de los indicadores
convertir_a_numerico(df,'valor_indicador')

### Explorar el contenido

In [12]:
# Visualizamos las categorías generales y más específicas
df.groupby('categoría_1')['categoría_2'].value_counts()

categoría_1                             categoría_2
Calidad de vida                         Satisfacción con espacios públicos                             572
                                        Calidad de vida y agenda pública                               264
                                        Percepción de la seguridad                                     264
                                        Principales poblemas de la ciudadanía                          264
                                        Problemas que afectan a la seguridad                           166
                                        Administración de la ciudad                                    154
                                        Amigabilidad de la ciudad                                       88
                                        Ciudadanía                                                      44
Educación                               Población en etapas educativas                                9183
                                        Nivel de estudios de la población                             4268
                                        Escolarización de alumnos por tipo de centro                   790
                                        Programa de prevención y control del absentismo escolar        264
                                        Estructura de población                                          1
Empresa y comercio                      Locales en uso como vivienda                                   241
                                        Recursos municipales                                           228
                                        Locales abiertos                                               131
                                        Locales cerrados                                               131
                                        Locales en obras                                               131
                                        Total locales                                                  131
Indicadores Económicos                  Indicadores económicos                                        1575
Indicadores Población desempleo         Población desempleo                                           4080
                                        Indicadores Desempleo                                         4078
Indicadores de Vulnerabilidad           Índice de vulnerabilidad territorial                           608
                                        Tasa de riesgo de pobreza o exclusión social (AROPE)            18
Medio ambiente y residuos               Recogida domiciliaria de residuos sólidos                      176
                                        Contaminantes del aire                                          36
Participación ciudadana                 Entidades de participación ciudadana                          2202
Población del distrito                  Estructura de población                                      15517
                                        Estructura de los hogares                                     3672
                                        Dinámica demográfica                                          2188
                                        Mujeres y hombres                                                6
Salud                                   Discapacidad reconocida                                        264
                                        Indicadores de  de salud                                       234
                                        Hábitos y estilos de vida                                       72
Seguridad                               Intervención de la Policía Municipal                           525
                                        Población detenida e investigada por la Policía Municipal      120
                                        Inspecciones y actuaciones                                      66
Servicios Sociales                      Personas mayores                                               528
                                        Población general                                              440
                                        Menores y familia                                              220
Servicios y equipamientos Municipales   Servicios Sociales Municipales                                1614
                                        Deportes                                                      1294
                                        Educación                                                     1199
                                        Cultura                                                        718
                                        Zonas verdes                                                   327
                                        Salud                                                          204
                                        Género                                                         140
Situación socioeconómica ante COVID-19  Tipología de hogares                                            15
Vivienda                                Tipología de las viviendas                                      88
                                        Lanzamientos judiciales                                         15
Índice                                  Envejecimiento activo                                            6
Índice de vulnerabilidad                territorial                                                   2343
Name: count, dtype: int64

In [13]:
#Lista de todos los indicadores que están en esta base de datos
df['indicador_completo'].unique()

array(['Superficie (Ha.)', 'Población densidad (hab./Ha.)',
       'Número Habitantes', 'Población Hombres', 'Población Mujeres',
       'Edad media de la población', 'Población de 0 a 14 años',
       'Población de 15 a 29 años', 'Población de 30 a 44  años',
       'Población de 45 a 64 años', 'Población de 65 a 79 años',
       'Población de 80 años y más', 'Población de 65 años y más',
       'Población en etapa educativa (Población de 0 a 16 años -16 no incluidos)',
       'Proporción de envejecimiento (Población mayor de 65 años/Población total)',
       'Proporción de sobre-envejecimiento (Población mayor de 80 años/ Población mayor de 65 años)',
       'Índice de dependencia (Población de 0-15 + población 65 años y más / Pob. 16-64)',
       'Personas con nacionalidad española',
       'Personas con nacionalidad española Hombres',
       'Personas con nacionalidad española Mujeres',
       'Personas con nacionalidad extranjera',
       'Personas con nacionalidad extranjera Hombres',
       'Personas con nacionalidad extranjera Mujeres',
       'Proporción de personas migrantes (Población extranjera menos UE y resto países de OCDE / Población total)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nITALIA (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nBANGLADESH (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nCHINA (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nVENEZUELA (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nRUMANÍA (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nBOLIVIA (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nECUADOR (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nFILIPINAS (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nFRANCIA (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nMARRUECOS (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nPARAGUAY (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: \nPERÚ (Población total Distrito)',
       'Total hogares', 'Tamaño medio del hogar',
       'Hogares con una mujer sola mayor de 65 años',
       'Hogares con un hombre solo mayor de 65 años',
       'Hogares monoparentales: una mujer adulta con uno o más menores',
       'Hogares monoparentales: un hombre adulto con uno o más menores',
       'Tasa de crecimiento demográfico (porcentaje)',
       'Esperanza de vida al nacer Mujeres (mortalidad del periodo 2013-2016)',
       'Esperanza de vida al nacer Hombres  (mortalidad del periodo 2013-2016)',
       'Esperanza de vida al nacer Mujeres',
       'Esperanza de vida al nacer Hombres',
       'Esperanza de vida mayor de 65 años Mujeres',
       'Esperanza de vida mayor de 65 años Hombres',
       'Índice de desigualdad de género',
       'Índice de desigualdad de género (1)',
       'Renta neta media anual de los hogares (Urban Audit)',
       'Renta disponible media por persona',
       'Crecimiento/decrecimiento Renta Bruta Per cápita 2016(a)-2008',
       'Pensión media mensual Hombres', 'Pensión media mensual  Mujeres',
       'Tasa de actividad global ciudad de Madrid',
       'Tasa de actividad global en Hombres',
       'Tasa de actividad global en Mujeres',
       'Número de personas paradas ciudad de Madrid (EPA. 4º trimestre) (miles)',
       'Número de hombres parados en la ciudad de Madrid (EPA. 4º trimestre) (miles)',
       'Número de mujeres paradas en la ciudad de Madrid (EPA. 4º trimestre) (miles)',
       'Paro registrado (número de personas registradas en SEPE en febrero)',
       'Paro registrado (número de personas registradas en SEPE en febrero) hombres',
       'Paro registrado (número de personas registradas en SEPE en febrero) mujeres',
       'Tasa absoluta de paro registrado (febrero)',
       'Tasa absoluta de paro registrado Mujeres',
       'Tasa de desempleo en mujeres de 16 a 24 años',
       'Tasa de desempleo en mujeres de 25 a 44 años',
       'Tasa de desempleo en mujeres de 45 a 64 años',
       'Tasa absoluta de paro registrado Hombres',
       'Tasa de desempleo en hombres de 16 a 24 años',
       'Tasa de desempleo en hombres de 25 a 44 años',
       'Tasa de desempleo en hombres de 45 a 64 años',
       'Personas paradas de larga duración (febrero)',
       'Personas paradas de larga duración (febrero) hombres',
       'Personas paradas de larga duración (febrero) mujeres',
       'Personas paradas que SÍ perciben prestaciones (febrero)',
       'Personas paradas que SÍ perciben prestaciones (febrero) hombres',
       'Personas paradas que SÍ perciben prestaciones (febrero) mujeres',
       'Personas paradas que NO perciben prestaciones (febrero)',
       'Personas paradas que NO perciben prestaciones (febrero) hombres',
       'Personas paradas que NO perciben prestaciones (febrero) mujeres',
       'Población en etapas educativas',
       'Población en etapa educativa de 0 a 2 años',
       'Población en etapa educativa de 3 a 5 años',
       'Población en etapa educativa de 6 a 11 años',
       'Población en etapa educativa de 12 a 15 años',
       'Etapas educativas. Total niños',
       'Población infantil masculina en etapa educativa de 0 a 2 años',
       'Población infantil masculina en etapa educativa de 3 a 5 años',
       'Población infantil masculina en etapa educativa de 6 a 11 años',
       'Población infantil masculina en etapa educativa de 12 a 15 años',
       'Etapas educativas. Total niñas',
       'Población infantil femenina en etapa educativa de 0 a 2 años',
       'Población infantil femenina en etapa educativa de 3 a 5 años',
       'Población infantil femenina en etapa educativa de 6 a 11 años',
       'Población infantil femenina en etapa educativa de 12 a 15 años',
       'Escolarización del alumnado por tipo de centro',
       'Alumnado en Centros privados concertados',
       'Alumnado en Centros privados sin concierto',
       'Alumnado en Centros públicos', 'Total alumnado extranjero',
       'Alumnado extranjero en Centros privados concertados',
       'Alumnado extranjero en Centros privados sin concierto',
       'Alumnado extranjero en Centros públicos',
       'Total alumnado con necesidades de apoyo educativo',
       'Alumnado con necesidades de apoyo educativo en Centros privados concertados',
       'Alumnado con necesidades de apoyo educativo en Centros privados sin concierto',
       'Alumnado con necesidades de apoyo educativo en Centros públicos',
       'Población mayor/igual  de 25 años  que no sabe leer ni escribir o sin estudios',
       'Población mayor/igual  de 25 años con enseñanza primaria incompleta',
       'Población mayor/igual  de 25 años con Bachiller Elemental, Graduado Escolar, ESO, Formación profesional 1º grado',
       'Población mayor/igual  de 25 años con Formación profesional 2º grado, Bachiller Superior o BUP',
       'Población mayor/igual  de 25 años con titulación media, diplomatura, arquitectura o ingeniería técnica',
       'Población mayor/igual  de 25 años  con estudios superiores, licenciatura, arquitectura, ingeniería sup., estudios sup. no universitarios, doctorado,  postgraduado',
       'Población mayor/igual  de 25 años con Nivel de estudios desconocido y/o no consta',
       'Casos trabajados por el programa de absentismo municipal',
       'Casos trabajados por el programa de absentismo municipal Hombres',
       'Casos trabajados por el programa de absentismo municipal Mujeres',
       'Número de personas con grado de discapacidad reconocido',
       'Número de personas con grado de discapacidad reconocido Hombres',
       'Número de personas con grado de discapacidad reconocido Mujeres',
       'Mujeres por cada 100 hombres (Feminización de la discapacidad reconocida)',
       'Satisfacción de vivir en su barrio',
       'Calidad de vida actual en su barrio',
       'Satisfacción de la convivencia vecinal',
       'Grado de satisfacción con la organización de fiestas y eventos populares',
       'Percepción de desigualdad en las dotaciones de los barrios   (sumando las categorías "muy alta" + "alta")',
       'Tres principales problemas en espacios públicos: 1ºLimpieza',
       'Tres principales problemas en espacios públicos: 2ºContaminación del aire',
       'Tres principales problemas en espacios públicos: 3ºTráfico / atascos',
       'Percepción de seguridad en Madrid',
       'Percepción de seguridad en el barrio por el día',
       'Percepción de seguridad en el barrio por la noche',
       'Tres principales problemas en espacios públicos: 1ºPersonas orinando en la calle',
       'Tres principales problemas en espacios públicos: 2ºExcrementos animales domésticos',
       'Tres principales problemas en espacios públicos: 3ºConsumo o menudeo de drogas',
       'Tres principales problemas en espacios públicos: 1ºExcrementos animales domésticos',
       'Tres principales problemas en espacios públicos: 2ºConductas que ponen en riesgo la seguridad vial',
       'Tres principales problemas en espacios públicos: 3ºPersonas orinando en la calle',
       'Tres principales problemas en espacios públicos: 3ºExceso de velocidad',
       'Tres principales problemas en espacios públicos: 2ºRobos, atracos y hurtos',
       'Tres principales problemas en espacios públicos: 3ºConductas que ponen en riesgo la seguridad vial',
       'Tres principales problemas en espacios públicos: 2ºPersonas orinando en la calle',
       'Tres principales problemas en espacios públicos: 3ºMolsetias por ruido',
       'Tres principales problemas en espacios públicos: 2ºBotellón',
       'Tres principales problemas en espacios públicos: 3ºGrafitis',
       'Tres principales problemas en espacios públicos: 2ºGrafitis',
       'Tres principales problemas en espacios públicos: 3ºRobos, atracos y hurtos',
       'Tres principales problemas en espacios públicos: 2ºConsumo o menudeo de drogas',
       'Tres principales problemas en espacios públicos: 3ºEstacionamientos indebidos',
       'Tres principales problemas en espacios públicos: 2ºEstacionamientos indebidos',
       'Tres principales problemas en espacios públicos: 3ºUso indebido de parques y espacios públicos',
       'Tres principales problemas en espacios públicos: 2ºExceso de velocidad',
       'Preferencia de contacto con el Ayuntamiento: EN PERSONA',
       'Percepción sobre la administración del Ayto. en los últimos 5 años: HA MEJORADO',
       'Percepción sobre la administración del Ayto. en los últimos 5 años: HA EMPEORADO',
       'Tasa de riesgo de pobreza o exclusión social',
       'Tasa de riesgo de pobreza o exclusión social Hombres',
       'Tasa de riesgo de pobreza o exclusión social Mujeres',
       'Tasa de riesgo de pobreza o exclusión social ESPAÑOLA (mayor de 16 años)',
       'Tasa de riesgo de pobreza o exclusión social EXTRANJERA UNIÓN EUROPEA (mayor de 16 años)',
       'Tasa de riesgo de pobreza o exclusión social EXTRANJERA RESTO DEL MUNDO (mayor de 16 años)',
       'Personas atendidas en la Unidad de Primera Atención en Centros de Servicios Sociales',
       'Solicitudes tramitadas de Renta Mínima de Inserción',
       'Personas perceptoras de prestación de la Renta Mínima de Inserción',
       'Personas beneficiarias de prestaciones sociales de carácter económico',
       'Total prestaciones sociales de carácter económico',
       'Personas con Servicio de Ayuda a Domicilio (modalidad auxiliar de hogar)',
       'Personas con Servicio de Ayuda a Domicilio (modalidad auxiliar de hogar) Hombres',
       'Personas con Servicio de Ayuda a Domicilio (modalidad auxiliar de hogar) Mujeres',
       'Personas socias de los Centros Municipales de Mayores',
       'Personas socias de los Centros Municipales de Mayores Hombres',
       'Personas socias de los Centros Municipales de Mayores Mujeres',
       'Familias atendidas por el Equipo de Trabajo con Menores y Familia (ETMF)',
       'Demandas de intervención en los Centros de Atención a la Infancia (CAI)',
       'Menores atendidos por el Servicio de Ayuda a domicilio a Menores y Familias (SAF)',
       'Número Total de viviendas (Censo Edificios y Viviendas 2011)',
       'Viviendas anteriores a 1980', 'Viviendas en estado ruinoso',
       'Viviendas en estado malo', 'Viviendas en estado deficiente',
       'Viviendas en estado bueno', 'Estado de la vivienda no consta',
       'Superficie media de la vivienda (m2) en transacción',
       'Duración media del crédito (meses) en transacción de vivienda',
       'Número Total de viviendas familiares (Censo Edificios y Viviendas 2011)',
       'Número Total de viviendas familiares (Censo Edificios y Viviendas 2011) Principal',
       'Número Total de viviendas familiares (Censo Edificios y Viviendas 2011)  Secundaria',
       'Número Total de viviendas familiares (Censo Edificios y Viviendas 2011)  Población desocupada',
       'Lanzamientos judiciales practicados (1)',
       'Lanzamientos judiciales como consecuencia de ejecuciones hipotecarias (1)',
       'Lanzamientos judiciales consecuencia de la Ley de Arrendamientos Urbanos (1)',
       'Lanzamientos judiciales practicados',
       'Lanzamientos judiciales como consecuencia de ejecuciones hipotecarias',
       'Lanzamientos judiciales consecuencia de la Ley de Arrendamientos Urbanos',
       'Partículas suspensión PM2.5 (µgr/m3)',
       'Partículas suspensión PM10 (µgr/m3)',
       'Dióxido de azufre - SO2 (µgr/m3)',
       'Monóxido de carbono - CO  (mg/m3)', 'Ozono - O3 (µgr/m3)',
       'Dióxido de nitrógeno - NO2 (µgr/m3)',
       'Temperatura media anual (ºC)',
       'Protocolo de contaminación: número de episodios',
       'Protocolo de contaminación: número de días "Escenario 1"',
       'Recogida domiciliaria residuos sólidos: envases y resto kg/habitante/año',
       'Recogida domiciliaria residuos sólidos: envases y resto kg/habitante/día',
       'Intervenciones de la Policía Municipal en materia de seguridad: delitos relacionados con las personas',
       'Intervenciones de la Policía Municipal en materia de seguridad: relacionadas con la tenencia de armas',
       'Intervenciones de la Policía Municipal en materia de seguridad: relacionadas con el patrimonio',
       'Intervenciones de la Policía Municipal en materia de seguridad: relacionadas con la tenencia y consumo de drogas',
       'Expedientes instruidos por Agentes Tutores',
       'Atestados/partes de accidentes de tráfico confeccionados',
       'Personas detenidas e investigadas por la Policía Municipal en materia de seguridad: Total  personas detenidas e investigadas',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Lesiones',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Violencia doméstica y de género',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Malos tratos a menores',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Abusos y agresiones sexuales',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Hurtos',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Robo con violencia e intimidación en personas',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Contra la salud pública',
       'Personas detenidas e investigadas por la Policía Municipal  en materia de seguridad: Contra la seguridad vial',
       'Elecciones municipales, censo electoral',
       'Elecciones municipales, abstenciones',
       'Elecciones  municipales, votos en blanco',
       'Elecciones municipales, votos a candidaturas',
       'Elecciones municipales, votos a Más Madrid',
       'Elecciones municipales, votos al Partido Popular',
       'Elecciones municipales, votos a Ciudadanos-Partido de la Ciudadanía',
       'Elecciones municipales, votos al Partido Socialista Obrero Español',
       'Elecciones municipales, votos a VOX',
       'Centros de Servicios Sociales', 'Centros Municipales de Mayores',
       'Centros de Día de Alzheimer y Físicos',
       'Apartamentos Municipales para Mayores',
       'Residencias para personas Mayores',
       'Centros de Apoyo a las Familias (CAF)',
       'Centros de Atención a la Infancia (CAI)',
       'Centro de Día de Atención a Niños y Niñas (de 3 a 12 años)',
       'Espacios de Ocio para Adolescentes (El Enredadero)',
       'Centros de Adolescentes y Jóvenes (ASPA)',
       'Centros para personas sin hogar', 'Espacios de Igualdad',
       'Centros Municipales de Salud Comunitaria (CMSC)',
       'Centros de Atención a las Adicciones (CAD y CCAD)',
       'Bibliotecas públicas Municipales',
       'Bibliotecas públicas Comunidad Madrid',
       'Centros y Espacios Culturales', 'Centros deportivos Municipales',
       'Superficie deportiva m2', 'Instalaciones deportivas básicas',
       'Instalaciones deportivas de acceso controlado',
       'Campos de fútbol 11', 'Pista de atletismo', 'Piscinas cubiertas',
       'Piscinas de verano',
       'Superficie de zonas verdes y Parques de distrito (ha)',
       'Relación de Superficie de zonas verdes y Parques de distrito (ha) entre número de Habitantes *10.000',
       'Superficie de Parques Históricos, Singulares y Forestales por distrito',
       'Superficie de Parques Históricos, Singulares y Forestales por distrito  entre número de Habitantes *10.000',
       'Escuelas Infantiles Municipales',
       'Escuelas Infantiles Públicas CAM', 'Escuelas Infantiles Privadas',
       'Colegios Públicos Infantil y Primaria',
       'Institutos Públicos de Educación Secundaria',
       'Colegios Privados Inf. o Pri. o Inf. y Pri.',
       'Colegios Privados Inf., Pri. y Sec. o Pri. y Sec.',
       'Mercados Municipales',
       'Asociaciones culturales y casas regionales',
       'Asociaciones de mujeres', 'Asociaciones vecinales',
       'Asociaciones (Sección 1ª)', 'Fundaciones (Sección 2ª)',
       'Índice de Vulnerabilidad Territorial',
       'Posición en el ranking de distritos y/o barrios de vulnerabilidad territorial',
       'Primera y segunda nacionalidad extranjera en el Distrito: ITALIA (Población total Distrito)',
       'Primera y segunda nacionalidad extranjera en el Distrito: FILIPINAS (Población total Distrito)',
       'Tasa bruta de natalidad (‰)',
       'Crecimiento/decrecimiento Renta Bruta Per cápita 2017(a)-2008',
       'Sedentarismo', 'Sedentarismo Hombres', 'Sedentarismo Mujeres',
       'Consumo de tabaco diario', 'Consumo de tabaco diario Hombres',
       'Consumo de tabaco diario Mujeres', 'Consumo de medicamentos',
       'Consumo de medicamentos Hombres',
       'Consumo de medicamentos Mujeres',
       'Autopercepción de buen estado de salud  (porcentaje respuesta muy buena + buena)',
       'Autopercepción de buen estado de salud           Hombres',
       'Autopercepción de buen estado de salud                   Mujeres',
       'Calidad de vida relacionada con la salud (CVRS)',
       'Calidad de vida relacionada con la salud (CVRS) Hombres',
       'Calidad de vida relacionada con la salud (CVRS) Mujeres',
       'Presencia de enfermedad crónica',
       'Presencia de enfermedad crónica        Hombres',
       'Presencia de enfermedad crónica            Mujeres',
       'Hipertensión arterial', 'Hipertensión arterial         Hombres',
       'Hipertensión arterial         Mujeres', 'Diabetes Mellitus',
       'Diabetes Mellitus Hombres', 'Diabetes Mellitus Mujeres',

# Extraer datos por distrito

### Guía general

**Ámbitos de desigualdad e indicadores**

**Presupuesto detallado (df_presupuestos)**
Información sobre la inversión pública en cada distrito y área de gasto.

- **Área de inversión**: Cultura, deportes, infraestructuras, etc.
- **Total invertido por área y año**: Inversión total realizada en euros

---

**1. Bienestar social e igualdad**

Este ámbito recoge indicadores relacionados con la percepción de calidad de vida, seguridad, servicios sociales y desigualdades en las oportunidades de vida, especialmente de grupos vulnerables.

- **Calidad de vida (0-10)**: Nota que ponen los habitantes a la calidad de vida en su distrito.
- **Percepción de seguridad (0-10)**: Evaluación de las personas del distrito de la seguridad.
- **Satisfacción de vivir en su barrio (0-10)**: Satisfacción de los residentes con vivir en su distrito.
- **Tasa de intervenciones policiales (por cada 1000 habitantes)**: Número de intervenciones de la policía en el distrito, relacionadas con delitos.
- **Tasa de centros de servicios sociales (por cada 1000 habitantes)**: Número de centros de servicios sociales por cada 1000 habitantes.
- **Tasa de demandas de intervención en los Centros de Atención a la Infancia (por cada 1000 habitantes)**: Proporción de demandas de atención a la infancia.
- **Tasa de personas atendidas en los servicios sociales (por cada 1000 habitantes)**: Proporción de personas que reciben atención social.
- **Tasa de ayuda a domicilio**: Porcentaje de personas que reciben servicios de ayuda a domicilio.
- **Tasa de residencias para mayores (por cada 1000 habitantes)**: Número de residencias de ancianos en relación con la población.
- **Tasa de riesgo de pobreza infantil (%)**: Porcentaje de niños que viven en hogares cuya renta total equivalente anual está por debajo del umbral de pobreza.

---

**2. Educación y cultura**

Este ámbito recoge indicadores educativos y culturales que reflejan el acceso a la educación y las oportunidades culturales y recreativas.

- **Tasa de centros de enseñanza (por cada 1000 habitantes)**: Número de centros educativos de cualquier nivel y tipo por cada 1000 habitantes.
- **Tasa de centros públicos de enseñanza obligatoria (por cada 1000 habitantes)**: Relación de centros públicos (desde infantil hasta secundaria) por cada 1000 habitantes.
- **Tasa de absentismo escolar (por cada 1000 habitantes)**: Proporción de estudiantes que no asisten a la escuela.
- **Tasa de población sin estudios (por cada 1000 habitantes)**: Proporción de personas mayores de 25 años que no tienen ningún estudio o no han llegado a completar la educación primaria.
- **Tasa de población con solo educación obligatoria (por cada 1000 habitantes)**: Proporción de la población con estudios hasta el nivel de la ESO o equivalente.
- **Tasa de población con estudios superiores (por cada 1000 habitantes)**: Proporción de personas con estudios universitarios, equivalentes o superiores.
- **Tasa de bibliotecas (por cada 10000 habitantes)**: Cantidad de bibliotecas públicas en el distrito.
- **Tasa de centros culturales (por cada 10000 habitantes)**: Número de centros culturales en relación con la población.
- **Tasa de zonas verdes (por cada 10000 habitantes)**: Superficie de zonas verdes y parques por cada 10000 habitantes.
- **Tasa de superficie deportiva (m² por cada 10000 habitantes)**: Espacio de instalaciones deportivas por cada 10000 habitantes.
- **Grado de satisfacción con instalaciones deportivas (0-10)**: Satisfacción de los residentes con las instalaciones deportivas.
- **Satisfacción con los espacios verdes (0-10)**: Grado de satisfacción de los ciudadanos con las zonas verdes del distrito.

---

**3. Economía y empleo**

Este ámbito recoge indicadores sobre la economía local, el empleo, la actividad comercial y las oportunidades empresariales de los distritos.

- **Renta media disponible (€)**: Ingreso medio disponible por persona en el distrito.
- **Tasa de paro (%)**: Porcentaje de la población activa que está desempleada.
- **Tasa de paro de larga duración (%)**: Porcentaje de desempleados que han estado sin trabajo durante un periodo prolongado (más de 12 meses).
- **Tasa de paro juvenil (%)**: Porcentaje de personas entre 16 y 24 años que están desempleadas.
- **Pensión media (€)**: Promedio de la pensión que reciben los jubilados en el distrito.
- **Tasa de comercios (por cada 1000 habitantes)**: Cantidad de comercios en relación con la población.

---

**4. Salud**

El ámbito de salud recoge indicadores que reflejan tanto la infraestructura sanitaria como el estado de salud de la población.

- **Tasa de centros sanitarios (por cada 1000 habitantes)**: El número de centros de salud por cada 1000 habitantes.
- **Probabilidad de padecer enfermedad mental (%)**: Estimación basada en la prevalencia de enfermedades mentales en el distrito.
- **Autopercepción de buen estado de salud (%)**: Proporción de personas que califican su salud como "buena" o "muy buena".
- **Sedentarismo (%)**: Proporción de la población que no realiza actividad física de forma regular.
- **Presencia de enfermedad crónica (%)**: Proporción de personas con enfermedades crónicas en el distrito.
- **Esperanza de vida media (años)**: La media de años que se espera que viva una persona en el distrito.
- **Tasa de personas con discapacidad (por cada 1000 habitantes)**: Porcentaje de personas que sufren algún tipo de discapacidad en el distrito.

## Dataframe presupuestos

In [14]:
# Definir la ruta de la carpeta donde están los CSV
ruta_carpeta = '../data/presupuestos'

# Procesar los archivos CSV para pasar la información resumida de los presupuestos a un DataFrame
df_presupuestos= crear_df_presupuestos(ruta_carpeta)

# Convertir a float el código de distrito
df_presupuestos['cod_distrito'] = df_presupuestos['cod_distrito'].astype(float)

In [15]:
df_presupuestos['area_inversion'].unique()

array(['Cultura', 'Deportes, juventud y esparcimiento', 'Educación',
       'Inversiones de carácter general', 'Mantenimiento urbano',
       'Otros bienes públicos de carácter social',
       'Protección Civil y seguridad ciudadana',
       'Protección y promoción social', 'Salud pública',
       'Tráfico, estacionamiento y transporte público', 'Urbanismo',
       'Medio ambiente', 'Sectores productivos', 'Infraestructuras',
       'Otros bienes públicos de carácter económico'], dtype=object)

In [16]:
df_presupuestos

,cod_distrito,año,area_inversion,total_invertido
0,1.0,2012,Cultura,6220891.60
1,1.0,2012,"Deportes, juventud y esparcimiento",27813722.14
2,1.0,2012,Educación,2828895.36
3,1.0,2012,Inversiones de carácter general,344577.32
4,1.0,2012,Mantenimiento urbano,3207506.34
...,...,...,...,...
2641,21.0,2022,Medio ambiente,645442.22
2642,21.0,2022,Otros bienes públicos de carácter social,14207.82
2643,21.0,2022,Protección Civil y seguridad ciudadana,63172.34
2644,21.0,2022,Protección y promoción social,105930.74
2645,21.0,2022,Urbanismo,11091109.64

## Dataframe economía y empleo

### Extraer información del dataframe principal

In [17]:
df_economia = crear_df_economia(df)

### Limpieza y preparación

In [18]:
# Simplificar los nombres de las columnas
df_economia.rename(columns={
    'Personas paradas de larga duración (febrero)': 'parados_larga_duracion',
    'Tasa absoluta de paro registrado (febrero)': 'tasa_paro',
    'Renta disponible media por persona': 'renta_media'}, inplace=True)
# Estandarizar los nombres de las columnas
estandarizar_columnas(df_economia)

In [19]:
# Calcular tasa de parados de larga duración (*100 para estar en la escala de la tasa de paro absoluta)
df_economia['tasa_paro_larga_duracion'] = ((df_economia['parados_larga_duracion'] / df_economia['numero_habitantes']) * 100).round(2)

# Calcular la media de la tasa de desempleo entre los jóvenes (sin diferenciar hombres de mujeres)
df_economia['tasa_paro_joven'] = df_economia[['tasa_de_desempleo_en_hombres_de_16_a_24_anos', 'tasa_de_desempleo_en_mujeres_de_16_a_24_anos']].mean(axis=1).round(2)

#Calcular la pension media
df_economia['pension_media'] = ((df_economia['pension_media_mensual_hombres'] + df_economia['pension_media_mensual__mujeres']) / 2).round(2)

### Añadir información de comercios

In [20]:
df_comercio = pd.read_csv('../data/raw/locales_madrid.csv')

# Realizar el merge para tener el recuento de locales activos
df_economia = pd.merge(df_economia, df_comercio, on='cod_distrito', how='left')

# Calcular la tasa de comercios por cada mil habitantes
df_economia['tasa_comercios'] = ((df_economia['num_locales'] / df_economia['numero_habitantes']) * 1000).round(2)

### Resultado

In [21]:
df_economia =df_economia[['cod_distrito', 'distrito', 'renta_media', 'tasa_paro',
       'tasa_paro_larga_duracion', 'tasa_paro_joven', 'pension_media',
       'tasa_comercios']]

df_economia

,cod_distrito,distrito,renta_media,tasa_paro,tasa_paro_larga_duracion,tasa_paro_joven,pension_media,tasa_comercios
0,1.0,Centro,24920.0,7.05,1.87,2.95,1151.0,81.20
1,2.0,Arganzuela,24511.0,6.39,1.59,3.08,1327.0,31.60
2,3.0,Retiro,27616.0,5.50,1.27,1.83,1455.5,29.21
3,4.0,Salamanca,28128.0,4.89,1.16,1.86,1438.0,50.53
4,5.0,Chamartín,28044.0,4.91,1.18,1.38,1421.5,39.64
5,6.0,Tetuán,21324.0,7.29,1.96,4.12,1183.5,39.17
6,7.0,Chamberí,27761.0,5.24,1.17,2.10,1458.5,49.18
7,8.0,Fuencarral-El Pardo,22765.0,5.82,1.40,2.82,1329.0,22.04
8,9.0,Moncloa-Aravaca,26039.0,5.37,1.35,2.06,1340.0,33.07
9,10.0,Latina,18974.0,8.52,2.04,4.84,1147.5,24.44
10,11.0,Carabanchel,17904.0,9.24,2.37,5.88,1071.5,29.94
11,12.0,Usera,16381.0,9.76,2.61,6.76,984.0,26.03
12,13.0,Puente de Vallecas,16042.0,10.71,3.11,7.09,973.0,24.89
13,14.0,Moratalaz,20844.0,8.41,2.25,4.91,1221.5,20.47
14,15.0,Ciudad Lineal,21376.0,7.31,1.85,3.18,1217.5,32.48
15,16.0,Hortaleza,23552.0,6.34,1.58,2.92,1236.5,20.81
16,17.0,Villaverde,16522.0,10.42,2.82,6.90,1048.0,29.90
17,18.0,Villa de Vallecas,19316.0,9.28,2.80,8.10,1095.5,32.25
18,19.0,Vicálvaro,18660.0,9.03,2.66,6.22,1098.5,20.45
19,20.0,San Blas-Canillejas,19588.0,7.99,2.20,4.32,1114.5,26.78
20,21.0,Barajas,25029.0,5.88,1.38,2.78,1309.5,30.61

## Dataframe cultura y educación

### Extraer información del dataframe principal

In [22]:
df_educacion = crear_df_educacion(df)
df_cultura = crear_df_cultura(df)

### Añadir información de centros educativos

In [23]:
# Cargamos el listado de centros educativos 
df_centros_educativos = pd.read_csv('../data/raw/centros-educativos.csv', sep=';', encoding='latin1')

estandarizar_columnas(df_centros_educativos)

# Calcular el recuento de centros educativos por distrito
df_centros_educativos = df_centros_educativos.groupby('cod_distrito').size().reset_index(name='recuento_centros')

# Unir los dataframes
df_educacion = pd.merge(df_educacion, df_centros_educativos, on='cod_distrito', how='left')

### Limpieza de datos

In [24]:
estandarizar_columnas(df_educacion)
estandarizar_columnas(df_cultura)

# Tras revisar la base de datos, vemos que NaN significa la ausencia de centros o cero
df_cultura.fillna(0, inplace=True)

#Simplificar el nombre de las columnas
# Simplificar los nombres de las columnas
df_educacion.rename(columns={
    'poblacion_mayor/igual__de_25_anos__con_estudios_superiores,_licenciatura,_arquitectura,_ingenieria_sup.,_estudios_sup._no_universitarios,_doctorado,__postgraduado': 'poblacion_educacion_superior',
    'poblacion_mayor/igual__de_25_anos__que_no_sabe_leer_ni_escribir_o_sin_estudios': 'poblacion_sin_estudios',
    'poblacion_mayor/igual__de_25_anos_con_bachiller_elemental,_graduado_escolar,_eso,_formacion_profesional_1o_grado': 'poblacion_educacion_obligatoria',
    'poblacion_mayor/igual__de_25_anos_con_ensenanza_primaria_incompleta': 'poblacion_primaria_incompleta',
    'casos_trabajados_por_el_programa_de_absentismo_municipal': 'casos_absentismo'}, inplace=True)

df_cultura.rename(columns={
    'grado_de_satisfaccion_con_los_espacios_verdes': 'satisfaccion_espacios_verdes',
    'grado_de_satisfaccion_con_las_instalaciones_deportivas':'satisfaccion_instalaciones_deportivas',
    'grado_de_satisfaccion_con_los_centros_culturales': 'satisfaccion_centros_culturales',
    'relacion_de_superficie_de_zonas_verdes_y_parques_de_distrito_(ha)_entre_numero_de_habitantes_*10.000': 'tasa_zonas_verdes'}, inplace=True)

### Cálculo de tasas para educación

In [25]:
# Tasa de centros educativos por cada 1000 habitantes
df_educacion['tasa_centros_enseñanza'] = ((df_educacion['recuento_centros'] / df_educacion['numero_habitantes']) * 1000).round(2)

# Tasa de centros públicos de enseñanza obligatoria por 1000 habitantes
df_educacion['tasa_centros_publicos_obligatoria'] = ((df_educacion['colegios_publicos_infantil_y_primaria'] +
                                                      df_educacion['escuelas_infantiles_municipales'] +
                                                      df_educacion['escuelas_infantiles_publicas_cam'] +
                                                      df_educacion['institutos_publicos_de_educacion_secundaria']) / df_educacion['numero_habitantes'] * 1000).round(2)

# Tasa de absentismo
df_educacion['tasa_absentismo'] = ((df_educacion['casos_absentismo'] / df_educacion['numero_habitantes']) *1000).round(2)

# Tasa de personas analfabetas o sin los estudios básicos finalizados
df_educacion['tasa_sin_estudios'] = (((df_educacion['poblacion_sin_estudios'] + df_educacion['poblacion_primaria_incompleta']) / df_educacion['numero_habitantes'])*1000).round(2)

# Tasa de población con solo la enseñanza obligatoria
df_educacion['tasa_poblacion_educacion_obligatoria'] = ((df_educacion['poblacion_educacion_obligatoria']
                                                        / df_educacion['numero_habitantes'])*1000).round(2)

# Tasa de población con educación superior
df_educacion['tasa_poblacion_educacion_superior'] = ((df_educacion['poblacion_educacion_superior']
                                                     / df_educacion['numero_habitantes'])*1000).round(2)

### Cálculo de tasas para cultura

In [26]:
# Tasa de bibliotecas públicas por 10000 habitantes
df_cultura['tasa_bibliotecas'] = (((df_cultura['bibliotecas_publicas_comunidad_madrid'] +
                                  df_cultura['bibliotecas_publicas_municipales']) / df_cultura['numero_habitantes']) * 10000).round(2)

# Tasa de superficie deportiva por 10000 habitantes
df_cultura['tasa_superficie_deportiva'] = ((df_cultura['superficie_deportiva_m2'] / df_cultura['numero_habitantes']) * 10000).round(2)

# Tasa de centros culturales por 10000 habitantes
df_cultura['tasa_centros_culturales'] = ((df_cultura['centros_y_espacios_culturales'] / df_cultura['numero_habitantes']) * 10000).round(2)

### Resultado de educación y cultura

In [27]:
# Unir los dataframes de educación y cultura utilizando 'cod_distrito' y 'distrito'
df_educacion_cultura = pd.merge(df_educacion, df_cultura, on=['cod_distrito', 'distrito'], how='outer')

# Seleccionamos las columnas necesarias
df_educacion_cultura = df_educacion_cultura [['cod_distrito', 'distrito', 'tasa_centros_enseñanza',
                                             'tasa_centros_publicos_obligatoria', 'tasa_absentismo',
                                             'tasa_sin_estudios', 'tasa_poblacion_educacion_obligatoria',
                                             'tasa_poblacion_educacion_superior', 'tasa_bibliotecas',
                                             'tasa_superficie_deportiva', 'tasa_zonas_verdes',
                                             'tasa_centros_culturales','satisfaccion_instalaciones_deportivas',
                                             'satisfaccion_centros_culturales', 'satisfaccion_espacios_verdes']]

In [28]:
df_educacion_cultura

,cod_distrito,distrito,tasa_centros_enseñanza,tasa_centros_publicos_obligatoria,tasa_absentismo,tasa_sin_estudios,tasa_poblacion_educacion_obligatoria,tasa_poblacion_educacion_superior,tasa_bibliotecas,tasa_superficie_deportiva,tasa_zonas_verdes,tasa_centros_culturales,satisfaccion_instalaciones_deportivas,satisfaccion_centros_culturales,satisfaccion_espacios_verdes
0,1.0,Centro,0.64,0.19,0.68,92.23,160.54,360.07,0.37,0.00,2.52,0.44,5.5,6.9,6.5
1,2.0,Arganzuela,0.47,0.13,0.42,86.17,159.08,299.30,0.13,5088.99,5.81,0.26,6.6,7.1,7.0
2,3.0,Retiro,0.53,0.10,0.21,65.04,126.71,355.26,0.17,5225.37,3.09,0.42,7.4,7.6,7.6
3,4.0,Salamanca,0.45,0.05,0.17,54.25,115.96,400.37,0.14,344.51,2.43,0.27,6.0,6.4,6.4
4,5.0,Chamartín,0.87,0.13,0.18,48.13,108.79,395.50,0.14,1014.64,3.77,0.14,6.9,7.1,6.7
5,6.0,Tetuán,0.34,0.14,1.43,116.15,212.76,251.80,0.13,1162.17,4.00,0.25,6.8,7.2,6.8
6,7.0,Chamberí,0.68,0.12,0.22,57.93,122.75,411.50,0.14,0.00,0.78,0.07,6.9,7.4,6.9
7,8.0,Fuencarral-El Pardo,0.67,0.20,0.67,92.61,154.56,271.07,0.08,5229.31,14.46,0.33,6.4,6.9,6.4
8,9.0,Moncloa-Aravaca,1.54,0.18,0.44,75.26,130.97,334.43,0.08,15447.19,16.10,0.42,6.6,7.0,7.2
9,10.0,Latina,0.44,0.17,1.35,178.29,255.53,128.68,0.13,11180.66,11.58,0.38,6.5,6.6,7.1
10,11.0,Carabanchel,0.45,0.14,2.25,169.08,273.80,108.23,0.12,1375.51,9.12,0.24,6.8,7.0,7.0
11,12.0,Usera,0.46,0.22,2.56,202.92,294.85,76.78,0.14,10501.72,11.99,0.50,6.6,6.5,6.7
12,13.0,Puente de Vallecas,0.45,0.22,2.39,220.44,292.56,75.12,0.17,9901.82,11.95,0.21,6.9,7.0,6.5
13,14.0,Moratalaz,0.58,0.22,1.61,156.58,220.70,163.53,0.21,29912.59,12.67,0.32,7.5,7.5,7.9
14,15.0,Ciudad Lineal,0.49,0.13,0.61,127.04,214.80,205.65,0.14,2644.98,6.12,0.37,6.6,6.7,6.9
15,16.0,Hortaleza,0.60,0.20,0.60,100.08,161.00,245.71,0.16,9677.90,16.73,0.32,6.8,6.9,6.9
16,17.0,Villaverde,0.40,0.25,2.63,196.12,287.64,71.14,0.13,6591.69,14.48,0.40,6.6,6.8,6.2
17,18.0,Villa de Vallecas,0.53,0.18,3.96,133.54,239.90,126.96,0.18,6524.14,25.84,0.36,6.2,6.2,6.2
18,19.0,Vicálvaro,0.40,0.29,1.00,149.96,234.62,117.96,0.28,17940.83,23.15,0.55,7.5,7.5,7.5
19,20.0,San Blas-Canillejas,0.58,0.23,1.11,146.24,231.74,149.84,0.25,3563.72,10.19,0.38,6.9,6.9,6.9
20,21.0,Barajas,0.63,0.25,0.76,78.41,155.35,234.01,0.20,4904.64,20.18,0.61,6.4,7.3,7.2

## Dataframe bienestar social e igualdad

### Extraer información del dataframe principal

In [29]:
df_bienestar = crear_df_bienestar(df)  # DataFrame con los datos de bienestar social
df_social = crear_df_social(df)  # DataFrame con los datos de los servicios y necesidades sociales

### Añadir datos residencias y riesgo de pobreza infantil

In [30]:
df_residencias = pd.read_csv('../data/raw/residencias_apartamentos_mayores.csv', sep=';', encoding='latin1')

estandarizar_columnas(df_residencias)

# Agrupar por distrito y contar el número de centros en cada distrito
df_residencias = df_residencias.groupby('cod_distrito').size().reset_index(name='recuento_residencias')

# Unir los dataframes
df_social = pd.merge(df_social, df_residencias, on='cod_distrito', how='left')

In [31]:
df_pobreza_infantil = pd.read_csv('../data/raw/riesgo_pobreza_infantil.csv')

# Unir los dataframes
df_social = pd.merge(df_social, df_pobreza_infantil, on='cod_distrito', how='left')

### Limpieza y preparación (social)

In [32]:
#Simplificar nombres de columnas
df_social.rename(columns={
    'Demandas de intervención en los Centros de Atención a la Infancia (CAI)': 'demandas_cai',
    'Personas atendidas en la Unidad de Primera Atención en Centros de Servicios Sociales': 'personas_atendidas_ss',
    'Personas con Servicio de Ayuda a Domicilio (modalidad auxiliar de hogar)': 'personas_ayuda_domicilio'}, inplace=True)

#Estandarizar el resto de columnas
estandarizar_columnas(df_social)

In [33]:
# Tasa de demandas a Servicios Sociales por la infancia
df_social['tasa_demandas_cai'] = (df_social['demandas_cai'] / df_social['numero_habitantes']) * 1000

# Tasa de personas atendidas por los Servicios Sociales
df_social['tasa_personas_atendidas_ss'] = (df_social['personas_atendidas_ss'] / df_social['numero_habitantes']) * 1000

# Tasa de ayuda a domicilio
df_social['tasa_ayuda_domicilio'] = (df_social['personas_ayuda_domicilio'] / df_social['numero_habitantes']) * 1000

# Tasa de residencias, apartamentos y centros de día para mayores
df_social['tasa_residencias'] = (df_social['recuento_residencias'] / df_social['numero_habitantes']) * 1000

# Tasa de centros de Servicios Sociales
df_social['tasa_centros_ss'] = (df_social['centros_de_servicios_sociales'] / df_social['numero_habitantes']) * 1000

### Limpieza y preparación (bienestar)

In [34]:
# Simplificar los nombres de las columnas
df_bienestar.rename(columns={
    'Intervenciones de la Policía Municipal en materia de seguridad: delitos relacionados con las personas': 'intervenciones_policia_personas',
    'Intervenciones de la Policía Municipal en materia de seguridad: relacionadas con la tenencia de armas': 'intervenciones_policia_arma',
    'Intervenciones de la Policía Municipal en materia de seguridad: relacionadas con el patrimonio' : 'intervenciones_policia_patrimonio',
    'Intervenciones de la Policía Municipal en materia de seguridad: relacionadas con la tenencia y consumo de drogas': 'intervenciones_policia_droga',
    'Calidad de vida actual en su barrio': 'calidad_vida',
    'Madrid ciudad amigable con las personas lesbianas, gays, transexuales y bisexuales': 'amigable_lgbt',
    'Percepción de seguridad en Madrid':'percepcion_seguridad',
    'Satisfacción de la convivencia vecinal': 'satisfaccion_convivencia_distrito',
    'Satisfacción de vivir en su barrio': 'satisfaccion_vivir_distrito'}, inplace=True)

# Estandarizar los nombres de las columnas
estandarizar_columnas(df_bienestar)


# Calcular la tasa de intervenciones policiales por cada 1.000 habitantes
df_bienestar['tasa_intervenciones_policia'] = ((
    (df_bienestar['intervenciones_policia_personas']+
    df_bienestar['intervenciones_policia_arma']+
    df_bienestar['intervenciones_policia_patrimonio']+
    df_bienestar['intervenciones_policia_droga']) / 
    df_bienestar['numero_habitantes']) * 1000).round(2)

### Resultado bienestar social e igualdad

In [35]:
df_bienestar_social = pd.merge(df_bienestar, df_social, on='cod_distrito', how='outer')
df_bienestar_social = df_bienestar_social[['cod_distrito', 'distrito', 'calidad_vida',
       'percepcion_seguridad', 'satisfaccion_vivir_distrito', 'tasa_intervenciones_policia',
       'amigable_lgbt', 'tasa_demandas_cai','tasa_personas_atendidas_ss', 'tasa_ayuda_domicilio',
       'tasa_residencias', 'tasa_centros_ss', 'tasa_riesgo_pobreza_infantil']]

df_bienestar_social

,cod_distrito,distrito,calidad_vida,percepcion_seguridad,satisfaccion_vivir_distrito,tasa_intervenciones_policia,amigable_lgbt,tasa_demandas_cai,tasa_personas_atendidas_ss,tasa_ayuda_domicilio,tasa_residencias,tasa_centros_ss,tasa_riesgo_pobreza_infantil
0,1.0,Centro,7.36,7.65,7.73,38.95,8.08,0.600529,28.684544,17.474663,0.029656,0.014828,29.7
1,2.0,Arganzuela,7.79,6.71,8.13,5.27,7.80,0.338035,30.689722,14.360008,0.052005,0.006501,13.5
2,3.0,Retiro,8.03,6.50,8.22,2.36,8.05,0.410457,14.391141,11.819499,0.041883,0.008377,9.2
3,4.0,Salamanca,7.75,6.98,7.82,7.01,8.28,0.287380,23.777267,13.315269,0.068424,0.006842,12.2
4,5.0,Chamartín,8.05,7.49,8.40,3.00,8.31,0.274226,23.192678,11.510643,0.102835,0.013711,9.2
5,6.0,Tetuán,6.71,7.03,6.65,5.45,7.95,0.886429,32.323015,21.527571,0.025327,0.012663,31.9
6,7.0,Chamberí,8.00,6.77,7.91,3.40,8.01,0.423097,20.057656,16.163731,0.043027,0.007171,12.1
7,8.0,Fuencarral-El Pardo,7.58,6.17,7.36,1.60,8.19,0.532475,11.328301,20.969755,0.048776,0.008129,11.7
8,9.0,Moncloa-Aravaca,7.95,7.08,8.10,6.41,7.56,0.510789,23.295345,18.999690,0.217714,0.016747,12.5
9,10.0,Latina,6.86,7.30,6.85,2.46,8.45,0.969961,30.337513,40.066512,0.025194,0.012597,32.0
10,11.0,Carabanchel,6.62,6.65,6.84,4.21,7.57,0.976130,28.754347,34.757351,0.055327,0.011856,36.7
11,12.0,Usera,6.18,6.23,6.01,6.75,7.31,1.168450,29.275776,38.100085,0.043010,0.014337,43.7
12,13.0,Puente de Vallecas,6.00,6.52,6.54,6.05,5.76,1.218214,66.388380,30.992035,0.025557,0.017038,45.8
13,14.0,Moratalaz,7.64,6.72,7.86,3.29,8.18,0.750457,24.786225,30.927290,0.052849,0.010570,25.8
14,15.0,Ciudad Lineal,6.95,6.80,6.69,5.50,8.72,0.508623,25.773339,29.194988,0.023119,0.009248,24.2
15,16.0,Hortaleza,7.57,6.64,7.52,1.89,7.86,0.393059,21.442951,22.122836,0.079674,0.010623,13.3
16,17.0,Villaverde,5.63,6.08,5.50,5.29,5.94,1.128403,25.133830,30.903461,0.026867,0.013433,41.8
17,18.0,Villa de Vallecas,6.90,6.52,7.13,8.50,6.90,0.479916,29.963056,14.877395,0.036220,0.009055,27.3
18,19.0,Vicálvaro,7.21,6.36,7.26,2.61,7.92,0.762554,38.945734,22.793445,0.013865,0.027729,24.8
19,20.0,San Blas-Canillejas,7.03,6.84,6.78,5.43,7.62,0.929403,40.457494,31.346813,0.050580,0.012645,24.0
20,21.0,Barajas,8.09,5.99,7.90,9.19,7.75,0.510496,24.238340,10.454954,0.061259,0.020420,12.0

## Dataframe salud

### Extraer información del dataframe principal

In [36]:
df_salud = crear_df_salud(df)

### Añadir información de los centros sanitarios

In [37]:
# Cargar la información de la base de datos
df_centros_salud = pd.read_csv('../data/raw/centros-atencion-medica.csv', sep=';', encoding='latin1')

# Hacer la preparación necesaria de los datos para unir los dataframes
df_centros_salud.columns = df_centros_salud.columns.str.lower().str.replace('-', '_')
df_centros_salud = df_centros_salud[['nombre', 'cod_distrito']]

# Calcular el recuento de centros por distrito
df_centros_salud = df_centros_salud.groupby('cod_distrito').size().reset_index(name='recuento_centros')

# Realizar el merge para tener el recuento de centros sanitarios en el dataframe de salud
df_salud = pd.merge(df_salud, df_centros_salud, on='cod_distrito', how='left')

### Limpieza y preparación

In [38]:
# Simplificar el nombre de los indicadores
df_salud.rename(columns={
    'Autopercepción de buen estado de salud  (porcentaje respuesta muy buena + buena)': 'autopercepcion_salud_buena',
    'Probabilidad de padecer enfermedad mental (GHQ-12)          (2018. EMS)': 'probabilidad_enfermedad_mental',
    'Presencia de enfermedad crónica':'presencia_enfermedad_cronica'}, inplace=True)
# Estandarizar los nombres de las columnas
estandarizar_columnas(df_salud)

In [39]:
#Calcular la esperanza de vida media por distritos
df_salud['esperanza_vida'] = df_salud[['esperanza_de_vida_al_nacer_hombres', 'esperanza_de_vida_al_nacer_mujeres']].mean(axis=1)
df_salud.drop(['esperanza_de_vida_al_nacer_hombres', 'esperanza_de_vida_al_nacer_mujeres'], axis=1, inplace=True)

#Calcular la tasa de personas discapacitadas
df_salud['tasa_discapacitados'] = ((df_salud['numero_de_personas_con_grado_de_discapacidad_reconocido'] / df_salud['numero_habitantes']) * 1000).round(2)

# Calcular la tasa de centros por mil habitantes
df_salud['tasa_centros_sanitarios'] = ((df_salud['recuento_centros'] / df_salud['numero_habitantes']) * 1000).round(2)

### Resultado

In [40]:
#Seleccionamos las columnas finales
df_salud = df_salud[['cod_distrito', 'distrito', 'autopercepcion_salud_buena',
       'consumo_de_medicamentos', 'presencia_enfermedad_cronica',
       'probabilidad_enfermedad_mental', 'sedentarismo', 'esperanza_vida',
       'tasa_discapacitados', 'tasa_centros_sanitarios']]
df_salud

,cod_distrito,distrito,autopercepcion_salud_buena,consumo_de_medicamentos,presencia_enfermedad_cronica,probabilidad_enfermedad_mental,sedentarismo,esperanza_vida,tasa_discapacitados,tasa_centros_sanitarios
0,1.0,Centro,0.76,0.63,0.34,0.22,0.27,84.5,94.37,0.09
1,2.0,Arganzuela,0.74,0.67,0.43,0.17,0.26,85.0,62.90,0.08
2,3.0,Retiro,0.77,0.68,0.40,0.18,0.24,86.0,52.82,0.08
3,4.0,Salamanca,0.76,0.66,0.41,0.17,0.31,85.5,46.77,0.14
4,5.0,Chamartín,0.78,0.65,0.35,0.18,0.25,85.5,45.42,0.08
5,6.0,Tetuán,0.67,0.70,0.41,0.21,0.31,84.5,56.73,0.07
6,7.0,Chamberí,0.76,0.69,0.39,0.21,0.28,84.5,49.78,0.13
7,8.0,Fuencarral-El Pardo,0.73,0.66,0.37,0.21,0.29,85.5,48.89,0.08
8,9.0,Moncloa-Aravaca,0.78,0.67,0.35,0.19,0.23,85.5,50.17,0.16
9,10.0,Latina,0.71,0.68,0.44,0.23,0.30,85.0,66.45,0.09
10,11.0,Carabanchel,0.69,0.63,0.40,0.22,0.32,84.5,66.22,0.05
11,12.0,Usera,0.66,0.67,0.43,0.23,0.34,84.0,74.55,0.08
12,13.0,Puente de Vallecas,0.68,0.68,0.41,0.22,0.38,83.5,80.47,0.08
13,14.0,Moratalaz,0.72,0.66,0.42,0.20,0.30,85.5,71.94,0.05
14,15.0,Ciudad Lineal,0.73,0.67,0.40,0.19,0.30,85.5,53.61,0.08
15,16.0,Hortaleza,0.73,0.66,0.40,0.20,0.27,85.0,48.41,0.06
16,17.0,Villaverde,0.65,0.65,0.43,0.26,0.33,84.5,72.90,0.06
17,18.0,Villa de Vallecas,0.70,0.66,0.38,0.26,0.36,83.5,57.35,0.06
18,19.0,Vicálvaro,0.74,0.69,0.35,0.25,0.30,84.5,57.51,0.07
19,20.0,San Blas-Canillejas,0.73,0.66,0.41,0.23,0.31,84.5,58.02,0.05
20,21.0,Barajas,0.78,0.60,0.35,0.21,0.25,86.0,43.45,0.08

## Dataframe población

### Extraer información del dataframe principal

In [41]:
df_poblacion = crear_df_poblacion(df)

### Limpieza

In [42]:
df_poblacion.rename(columns={
    'Población densidad (hab./Ha.)': 'densidad_poblacion',
    'Edad media de la población': 'edad_media',
    'Proporción de envejecimiento (Población mayor de 65 años/Población total)':'proporcion_envejecimiento',
    'Índice de dependencia (Población de 0-15 + población 65 años y más / Pob. 16-64)': 'indice_dependencia',
    'Proporción de personas migrantes (Población extranjera menos UE y resto países de OCDE / Población total)': 'proporcion_migrantes'}, inplace=True)

estandarizar_columnas(df_poblacion)

### Resultado

In [43]:
# Mostrar el dataframe de población por distritos
df_poblacion

indicador_completo,cod_distrito,distrito,edad_media,numero_habitantes,densidad_poblacion,proporcion_envejecimiento,proporcion_migrantes,indice_dependencia
0,1.0,Centro,44.03,134881.0,258.0,16.05,12.54,32.15
1,2.0,Arganzuela,44.55,153830.0,238.0,19.27,6.50,46.81
2,3.0,Retiro,47.04,119379.0,218.0,25.76,4.31,62.09
3,4.0,Salamanca,46.24,146148.0,271.0,23.89,7.14,54.41
4,5.0,Chamartín,45.39,145865.0,159.0,23.28,5.49,58.97
5,6.0,Tetuán,44.13,157937.0,294.0,19.33,14.96,45.03
6,7.0,Chamberí,46.34,139448.0,298.0,24.18,6.19,53.97
7,8.0,Fuencarral-El Pardo,42.87,246021.0,10.0,20.80,5.58,63.31
8,9.0,Moncloa-Aravaca,44.57,119423.0,26.0,21.90,6.50,57.28
9,10.0,Latina,46.49,238154.0,94.0,24.79,11.50,59.30
10,11.0,Carabanchel,43.44,253040.0,180.0,19.24,15.03,51.53
11,12.0,Usera,42.26,139501.0,179.0,17.08,18.91,48.61
12,13.0,Puente de Vallecas,43.23,234770.0,157.0,17.86,14.17,46.63
13,14.0,Moratalaz,47.55,94609.0,155.0,26.05,6.23,61.10
14,15.0,Ciudad Lineal,45.78,216270.0,189.0,22.83,10.28,55.26
15,16.0,Hortaleza,42.28,188267.0,69.0,18.61,5.77,57.22
16,17.0,Villaverde,42.08,148883.0,74.0,17.40,15.41,51.50
17,18.0,Villa de Vallecas,38.83,110436.0,21.0,12.48,7.66,46.59
18,19.0,Vicálvaro,40.75,72126.0,20.0,14.45,6.77,49.56
19,20.0,San Blas-Canillejas,43.14,158166.0,71.0,17.57,8.06,49.48
20,21.0,Barajas,41.73,48972.0,12.0,17.77,5.22,56.48

# Traducir a números la desigualdad

Asignar una **nota global** a cada distrito en distintos ámbitos (como salud, bienestar social, economía, etc.) con el objetivo de **reflejar la desigualdad** entre las zonas de Madrid de una manera clara y comprensible.

La puntuación numérica (del 1 al 100) refleja el rendimiento relativo de los distritos en los ámbitos analizados, con el objetivo de simplificar la información y facilitar la comparación en cada categoría.

Para calcular la nota goblar de cada ámbito, realizamos los siguientes pasos:

1. **Selección de indicadores**: indentificar los valores más relevantes para definir la situación del distrito en el ámbito.

2. **Normalización de los datos**: ajustar la escala de todos los valores a una común (de 0 a 100) y establecer su relación positiva o negativa con el índice.

3. **Asignación de pesos**: traducimos la importancia relativa de cada indicador en el ámbito con un Proceso Analítico Jerárquico, construyendo una matriz comparativa* que se traduce en los pesos de cada variable en la nota final**.

4. **Calculo de la nota global**: sumamos los valores normalizados multiplicados por sus pesos y obtenemos un resultado entre el 0 y el 100.


*Ejemplo de matriz de comparación AHP (para la desigualdad económica):

| Variable            | renta_media | tasa_paro | tasa_paro_larga_duracion | tasa_paro_joven | pension_media | tasa_comercios |
|---------------------|-------------|-----------|--------------------------|-----------------|---------------|----------------|
| **renta_media**      | 1           | 3         | 5                        | 5               | 6             | 7              |
| **tasa_paro**        | 1/3         | 1         | 3                        | 3               | 5             | 6              |
| **tasa_paro_larga_duracion** | 1/5   | 1/3      | 1                        | 3               | 5             | 6              |
| **tasa_paro_joven**  | 1/5         | 1/3       | 1/3                      | 1               | 3             | 5              |
| **pension_media**    | 1/6         | 1/5       | 1/5                      | 1/3             | 1             | 2              |
| **tasa_comercios**   | 1/7         | 1/6       | 1/6                      | 1/5             | 1/2           | 1              |

**Pesos en la nota final derivados de la matriz anterior:
- **Renta Media**: 0.3902
- **Tasa Paro**: 0.2335
- **Tasa Paro Larga Duración**: 0.1562
- **Tasa Paro Joven**: 0.1056
- **Pensión Media**: 0.0734
- **Tasa Comercios**: 0.0411

### Economía y empleo

In [44]:
matriz_comparacion = np.array([
    [1, 5, 7, 7, 9, 9],         # renta_media
    [1/5, 1, 5, 7, 7, 9],       # tasa_paro
    [1/7, 1/5, 1, 5, 7, 7],     # tasa_paro_larga_duracion
    [1/7, 1/7, 1/5, 1, 5, 7],   # tasa_paro_joven
    [1/9, 1/7, 1/7, 1/5, 1, 5], # pension_media
    [1/9, 1/9, 1/7, 1/7, 1/5, 1] # tasa_comercios
    ])

variables = [
    'renta_media',                  # Más importante
    'tasa_paro',                    
    'tasa_paro_larga_duracion',     
    'tasa_paro_joven',              
    'pension_media',                
    'tasa_comercios'                # Menos importante
    ]

# Aplicar la función que nos calcula el peso de las variables en la nota
economia_pesos_ahp = calcular_pesos_ahp(variables, matriz_comparacion)
economia_pesos_ahp

                   Variable  Peso AHP
0               renta_media  0.458612
1                 tasa_paro  0.243353
2  tasa_paro_larga_duracion  0.142973
3           tasa_paro_joven  0.087455
4             pension_media  0.045494
5            tasa_comercios  0.022113

In [45]:
# Calcular el índice de desigualdad normalizando las variables (con valor en negativo o en positivo) y sumarlas teniendo en cunta el peso AHP
df_nota_economia = calcular_nota_economia(df_economia)
df_nota_economia

    cod_distrito             distrito  nota_economia
0            1.0               Centro          68.83
1            2.0           Arganzuela          71.33
2            3.0               Retiro          91.53
3            4.0            Salamanca          97.53
4            5.0            Chamartín          97.01
5            6.0               Tetuán          50.83
6            7.0             Chamberí          94.53
7            8.0  Fuencarral-El Pardo          68.93
8            9.0      Moncloa-Aravaca          84.52
9           10.0               Latina          34.80
10          11.0          Carabanchel          23.37
11          12.0                Usera          11.55
12          13.0   Puente de Vallecas           1.76
13          14.0            Moratalaz          40.51
14          15.0        Ciudad Lineal          53.27
15          16.0            Hortaleza          67.05
16          17.0           Villaverde           8.29
17          18.0    Villa de Vallecas          21.60
18          19.0            Vicálvaro          23.73
19          20.0  San Blas-Canillejas          38.32
20          21.0              Barajas          77.17

### Educación y cultura

In [46]:
matriz_comparacion = np.array([
    [1, 5, 5, 7, 9, 9, 9, 9, 9],         # tasa_sin_estudios
    [1/5, 1, 5, 7, 7, 9, 9, 9, 9],       # tasa_poblacion_educacion_superior
    [1/5, 1/5, 1, 5, 7, 7, 7, 9, 9],     # tasa_absentismo
    [1/7, 1/7, 1/5, 1, 5, 7, 7, 7, 7],   # tasa_centros_publicos_obligatoria
    [1/9, 1/7, 1/7, 1/5, 1, 5, 5, 7, 7], # tasa_centros_enseñanza
    [1/9, 1/9, 1/7, 1/7, 1/5, 1, 5, 7, 7], # tasa_bibliotecas
    [1/9, 1/9, 1/7, 1/7, 1/5, 1/5, 1, 5, 5], # tasa_centros_culturales
    [1/9, 1/9, 1/9, 1/7, 1/7, 1/7, 1/5, 1, 5], # satisfaccion_instalaciones_deportivas
    [1/9, 1/9, 1/9, 1/7, 1/7, 1/7, 1/5, 1/5, 1] # satisfaccion_espacios_verdes
    ])

variables = [
    'tasa_sin_estudios',               # Más importante
    'tasa_poblacion_educacion_superior', 
    'tasa_absentismo',
    'tasa_centros_publicos_obligatoria',
    'tasa_centros_enseñanza',
    'tasa_bibliotecas',
    'tasa_centros_culturales',
    'satisfaccion_instalaciones_deportivas',
    'satisfaccion_espacios_verdes'      # Menos importante
    ]

educacion_pesos_ahp = calcular_pesos_ahp(variables, matriz_comparacion)
educacion_pesos_ahp

                                Variable  Peso AHP
0                      tasa_sin_estudios  0.335549
1      tasa_poblacion_educacion_superior  0.221572
2                        tasa_absentismo  0.149649
3      tasa_centros_publicos_obligatoria  0.101457
4                 tasa_centros_enseñanza  0.069095
5                       tasa_bibliotecas  0.053738
6                tasa_centros_culturales  0.033321
7  satisfaccion_instalaciones_deportivas  0.022396
8           satisfaccion_espacios_verdes  0.013223

In [47]:
# Calcular el índice de desigualdad normalizando las variables (con valor en negativo o en positivo) y sumarlas teniendo en cunta el peso AHP
df_nota_educacion = calcular_nota_educacion(df_educacion_cultura)
df_nota_educacion

    cod_distrito             distrito  nota_educacion
0            1.0               Centro           72.83
1            2.0           Arganzuela           63.73
2            3.0               Retiro           74.46
3            4.0            Salamanca           73.07
4            5.0            Chamartín           79.76
5            6.0               Tetuán           50.31
6            7.0             Chamberí           77.22
7            8.0  Fuencarral-El Pardo           62.42
8            9.0      Moncloa-Aravaca           76.03
9           10.0               Latina           33.57
10          11.0          Carabanchel           27.75
11          12.0                Usera           23.17
12          13.0   Puente de Vallecas           19.34
13          14.0            Moratalaz           44.38
14          15.0        Ciudad Lineal           49.98
15          16.0            Hortaleza           61.46
16          17.0           Villaverde           23.42
17          18.0    Villa de Vallecas           30.53
18          19.0            Vicálvaro           49.62
19          20.0  San Blas-Canillejas           47.52
20          21.0              Barajas           68.63

### Social

In [48]:
matriz_comparacion_social = np.array([
    [1, 3, 5, 6, 7, 8, 8, 8, 9, 7, 9], # tasa de riesgo de pobreza infantil
    [1/3, 1, 3, 4, 5, 6, 7, 7, 8, 6, 8], # tasa de intervenciones policía
    [1/5, 1/3, 1, 3, 4, 5, 6, 7, 8, 6, 7], # tasa de demandas CAI
    [1/6, 1/4, 1/3, 1, 3, 4, 5, 6, 7, 5, 6], # tasa de personas atendidas en los Servicios Sociales
    [1/7, 1/5, 1/4, 1/3, 1, 3, 4, 5, 6, 4, 5], # tasa de ayuda a domicilio
    [1/8, 1/6, 1/5, 1/4, 1/3, 1, 3, 4, 5, 4, 5], # calidad de vida
    [1/8, 1/7, 1/6, 1/5, 1/4, 1/3, 1, 3, 4, 3, 4], # percepcion de seguridad
    [1/8, 1/7, 1/7, 1/6, 1/5, 1/4, 1/3, 1, 3, 3, 4], #tasa residencias, centros y apartamentos para mayores
    [1/9, 1/8, 1/8, 1/7, 1/6, 1/5, 1/4, 1/3, 1, 2, 3], #satisfacción de vivir en el distrito
    [1/7, 1/6, 1/6, 1/5, 1/4, 1/4, 1/3, 1/3, 1/2, 1, 2], # tasa de centros de Servicios Sociales
    [1/9, 1/8, 1/7, 1/6, 1/5, 1/5, 1/4, 1/4, 1/3, 1/2, 1] # amigable con el colectivo LGBT
    ])

variables_social = [
    'tasa_riesgo_pobreza_infantil', #Más importante
    'tasa_intervenciones_policia', 
    'tasa_demandas_cai', 
    'tasa_personas_atendidas_ss', 
    'tasa_ayuda_domicilio', 
    'calidad_vida', 
    'percepcion_seguridad', 
    'tasa_residencias', 
    'satisfaccion_vivir_distrito', 
    'tasa_centros_ss', 
    'amigable_lgbt' #Menos importante
    ]

social_pesos_ahp = calcular_pesos_ahp(variables_social, matriz_comparacion_social)
social_pesos_ahp

                        Variable  Peso AHP
0   tasa_riesgo_pobreza_infantil  0.301704
1    tasa_intervenciones_policia  0.191723
2              tasa_demandas_cai  0.141420
3     tasa_personas_atendidas_ss  0.103539
4           tasa_ayuda_domicilio  0.075159
5                   calidad_vida  0.057293
6           percepcion_seguridad  0.040861
7               tasa_residencias  0.032163
8    satisfaccion_vivir_distrito  0.021747
9                tasa_centros_ss  0.020210
10                 amigable_lgbt  0.014180

In [49]:
# Calcular el índice de desigualdad normalizando las variables (con valor en negativo o en positivo) y sumarlas teniendo en cunta el peso AHP
df_nota_social = calcular_nota_social(df_bienestar_social)
df_nota_social

    cod_distrito             distrito  nota_social
0            1.0               Centro        43.34
1            2.0           Arganzuela        75.16
2            3.0               Retiro        81.78
3            4.0            Salamanca        77.99
4            5.0            Chamartín        85.97
5            6.0               Tetuán        50.60
6            7.0             Chamberí        78.95
7            8.0  Fuencarral-El Pardo        78.83
8            9.0      Moncloa-Aravaca        80.11
9           10.0               Latina        57.27
10          11.0          Carabanchel        49.17
11          12.0                Usera        37.20
12          13.0   Puente de Vallecas        26.23
13          14.0            Moratalaz        65.23
14          15.0        Ciudad Lineal        65.79
15          16.0            Hortaleza        79.66
16          17.0           Villaverde        36.04
17          18.0    Villa de Vallecas        56.54
18          19.0            Vicálvaro        60.05
19          20.0  San Blas-Canillejas        58.05
20          21.0              Barajas        72.22

### Salud

In [50]:
matriz_comparacion_salud = np.array([
    [1, 5, 7, 7, 9, 9, 9, 7],       # esperanza_vida
    [1/5, 1, 5, 7, 7, 7, 7, 5],     # autopercepcion_salud_buena
    [1/7, 1/5, 1, 5, 7, 7, 7, 5],   # tasa_centros_sanitarios
    [1/7, 1/7, 1/5, 1, 5, 7, 7, 5], # presencia_enfermedad_cronica
    [1/9, 1/7, 1/7, 1/5, 1, 5, 7, 5], # probabilidad_enfermedad_mental
    [1/9, 1/7, 1/7, 1/7, 1/5, 1, 5, 3], # consumo_de_medicamentos
    [1/9, 1/7, 1/7, 1/7, 1/7, 1/5, 1, 3], # sedentarismo
    [1/7, 1/5, 1/5, 1/5, 1/5, 1/3, 1/3, 1] # tasa_discapacitados
    ])

variables_salud = [
    'esperanza_vida',               # Más importante
    'autopercepcion_salud_buena',   
    'tasa_centros_sanitarios',      
    'presencia_enfermedad_cronica', 
    'probabilidad_enfermedad_mental',
    'consumo_de_medicamentos',      
    'sedentarismo',                 
    'tasa_discapacitados'           # Menos importante
    ]

salud_pesos_ahp = calcular_pesos_ahp(variables_salud, matriz_comparacion_salud)
salud_pesos_ahp

                         Variable  Peso AHP
0                  esperanza_vida  0.379511
1      autopercepcion_salud_buena  0.210312
2         tasa_centros_sanitarios  0.144085
3    presencia_enfermedad_cronica  0.103195
4  probabilidad_enfermedad_mental  0.072054
5         consumo_de_medicamentos  0.041516
6                    sedentarismo  0.026998
7             tasa_discapacitados  0.022329

In [51]:
# Calcular el índice de desigualdad normalizando las variables (con valor en negativo o en positivo) y sumarlas teniendo en cunta el peso AHP
df_nota_salud = calcular_nota_salud(df_salud)
df_nota_salud

    cod_distrito             distrito  nota_salud
0            1.0               Centro       56.62
1            2.0           Arganzuela       54.28
2            3.0               Retiro       77.00
3            4.0            Salamanca       75.25
4            5.0            Chamartín       77.58
5            6.0               Tetuán       31.05
6            7.0             Chamberí       56.79
7            8.0  Fuencarral-El Pardo       63.73
8            9.0      Moncloa-Aravaca       86.58
9           10.0               Latina       43.61
10          11.0          Carabanchel       34.20
11          12.0                Usera       19.41
12          13.0   Puente de Vallecas       16.52
13          14.0            Moratalaz       52.64
14          15.0        Ciudad Lineal       61.44
15          16.0            Hortaleza       51.61
16          17.0           Villaverde       21.44
17          18.0    Villa de Vallecas       19.23
18          19.0            Vicálvaro       45.92
19          20.0  San Blas-Canillejas       38.13
20          21.0              Barajas       84.93

## Dataframe índices de desigualdad

In [52]:
# Crear un dataframe con todas las notas de los ámbitos de desigualdad

df_indices = pd.concat([df_nota_salud, df_nota_social, df_nota_economia, df_nota_educacion], axis=1)

# Calcular la nota media del índice de desigualdad
df_indices['indice_desigualdad'] = ((df_indices['nota_salud'] + df_indices['nota_social'] + df_indices['nota_economia'] + df_indices['nota_educacion']) / 4).round(2)

#Borrar las columnas repetidas al concatenar los dataframes
df_indices = df_indices.loc[:, ~df_indices.columns.duplicated()]
df_indices

,cod_distrito,distrito,nota_salud,nota_social,nota_economia,nota_educacion,indice_desigualdad
0,1.0,Centro,56.62,43.34,68.83,72.83,60.40
1,2.0,Arganzuela,54.28,75.16,71.33,63.73,66.12
2,3.0,Retiro,77.00,81.78,91.53,74.46,81.19
3,4.0,Salamanca,75.25,77.99,97.53,73.07,80.96
4,5.0,Chamartín,77.58,85.97,97.01,79.76,85.08
5,6.0,Tetuán,31.05,50.60,50.83,50.31,45.70
6,7.0,Chamberí,56.79,78.95,94.53,77.22,76.87
7,8.0,Fuencarral-El Pardo,63.73,78.83,68.93,62.42,68.48
8,9.0,Moncloa-Aravaca,86.58,80.11,84.52,76.03,81.81
9,10.0,Latina,43.61,57.27,34.80,33.57,42.31
10,11.0,Carabanchel,34.20,49.17,23.37,27.75,33.62
11,12.0,Usera,19.41,37.20,11.55,23.17,22.83
12,13.0,Puente de Vallecas,16.52,26.23,1.76,19.34,15.96
13,14.0,Moratalaz,52.64,65.23,40.51,44.38,50.69
14,15.0,Ciudad Lineal,61.44,65.79,53.27,49.98,57.62
15,16.0,Hortaleza,51.61,79.66,67.05,61.46,64.94
16,17.0,Villaverde,21.44,36.04,8.29,23.42,22.30
17,18.0,Villa de Vallecas,19.23,56.54,21.60,30.53,31.98
18,19.0,Vicálvaro,45.92,60.05,23.73,49.62,44.83
19,20.0,San Blas-Canillejas,38.13,58.05,38.32,47.52,45.50
20,21.0,Barajas,84.93,72.22,77.17,68.63,75.74

# Pasar información a SQL

In [78]:
load_dotenv()

password = os.getenv('password')

# Tus parámetros de conexión
bd = "desigualdad_distritos"
connection_string = f'mysql+pymysql://root:{password}@localhost/{bd}'
engine = create_engine(connection_string)

In [79]:
dataframes = {
    "indices": df_indices,
    "poblacion": df_poblacion,
    "economia": df_economia,
    "educacion": df_educacion_cultura,
    "social": df_bienestar_social,
    "salud": df_salud,
    "presupuestos": df_presupuestos}

# Enviar cada DataFrame a la base de datos según el nombre de tabla
for table_name, df in dataframes.items():
    try:
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)
        print(f"Datos insertados en la tabla {table_name}") # Mensaje de éxito si funciona
    except Exception as e:
        print(f"Error al insertar los datos en la tabla {table_name}: {e}") # Aviso de error si sucede algún problema

Datos insertados en la tabla indices
Datos insertados en la tabla poblacion
Datos insertados en la tabla economia
Datos insertados en la tabla educacion_cultura
Datos insertados en la tabla bienestar_social
Datos insertados en la tabla salud
Datos insertados en la tabla presupuestos

# Guardar las tablas de datos finales

In [53]:
df_indices.to_csv('../data/clean/indices_desigualdad_distritos.csv', index=False)
df_poblacion.to_csv('../data/clean/poblacion_distritos.csv', index=False)
df_economia.to_csv('../data/clean/economia_empleo_distritos.csv', index=False)
df_educacion_cultura.to_csv('../data/clean/educacion_cultura_distritos.csv', index=False)
df_bienestar_social.to_csv('../data/clean/bienestar_social_distritos.csv', index=False)
df_salud.to_csv('../data/clean/salud_distritos.csv', index=False)
df_presupuestos.to_csv('../data/clean/inversion_distritos.csv', index=False)